.TaskListScreen {
  padding: 50px 0px 40px 0px;
}

.icon_folder {
  font-size: 24px;
  color: #338BEB;
}

.number_total {
  background-color: #338BEB;
  color: white;
  width: 30px;
  height: 30px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.active {
  background-color: rgba(17, 115, 234, 0.2);
}

.row_menu {
  border-radius: 20px;
  width: 95%;
  padding: 2% 4%;
  justify-content: space-between;
}

.list_task {
  padding: 0;
  margin: 0;
}

.row_lua_chon {
  border-bottom: 1px solid #ccc;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
}

.item_lua_chon {
  padding: 15px 20px;
  border-right: 1px solid #ccc;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 150px;
  min-width: 100px;
  font-size: 16px;
  position: relative;
}

.pl_item_lua_chon {
  padding: 15px 30px 15px 15px;
}

.close_item_lua_chon {
  position: absolute;
  right: 0;
  top: 0;
  padding: 18px 15px 18px 0;
}

.active_lua_chon {
  background-color: white;
}

.list_menu {
  position: fixed;
  padding-top: 20px;
  top: 50px;
  bottom: 0;
  left: 0;
  border-right: 1px solid #ccc;
}


.module_xu_ly_nhanh {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(120, 117, 117, 0.5);
}

.body_module_xu_ly_nhanh {
  margin: 4% auto;
  width: 60%;
  height: 65vh;
  background-color: #fff;
}

.text_header_module_xu_ly_nhanh {
  color: white;
  background-color: #338BEB;
  height: 40px;
  display: flex;
  padding: 1%;
  font-size: 18px;
  font-weight: 600;
  align-items: center;
  justify-content: space-between;
}

.btn_close_module {
  color: white;
}
